In [1]:
import pandas

In [8]:
df1 = pandas.DataFrame([[2,4,6],[10,20,30]],columns=["Price","Age","Value"],index=["First","Second"])

In [9]:
df1

        Price  Age  Value
First       2    4      6
Second     10   20     30

In [12]:
df2 = pandas.DataFrame([{"Name":"John","Surname":"Johns"},{"Name":"Jack"}])

In [13]:
df2

   Name Surname
0  John   Johns
1  Jack     NaN

In [14]:
df1.mean()

Price     6.0
Age      12.0
Value    18.0
dtype: float64

In [15]:
df1.mean().mean()

12.0

In [16]:
type(df1.mean())

pandas.core.series.Series

In [17]:
df1.Price

First      2
Second    10
Name: Price, dtype: int64

In [20]:
type(df1.Price)

pandas.core.series.Series

In [21]:
df1.Price.mean()

6.0

In [22]:
df1.Price.max()

10

In [29]:
df3 = pandas.read_csv("supermarkets.csv")

In [30]:
df3.set_index("ID")

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [28]:
df4 = pandas.read_json("supermarkets.json")

In [31]:
df4.set_index("ID")

,Address,City,Country,Employees,Name,State
ID,,,,,,
1,3666 21st St,San Francisco,USA,8,Madeira,CA 94114
2,735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
3,332 Hill St,San Francisco,USA,25,Super River,California 94114
4,3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
5,1056 Sanchez St,San Francisco,USA,12,Sanchez,California
6,551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [39]:
df5 = pandas.read_excel("supermarkets.xlsx",sheetname=0)

In [41]:
df6 = df5.set_index("Address")

In [42]:
df6

,ID,City,State,Country,Supermarket Name,Number of Employees
Address,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20

In [44]:
df6.loc["735 Dolores St":"332 Hill St", "ID":"Country"]

                ID           City             State Country
Address
735 Dolores St   2  San Francisco          CA 94119     USA
332 Hill St      3  San Francisco  California 94114     USA

In [46]:
list(df6.loc[:,"Country"])

['USA', 'USA', 'USA', 'USA', 'USA', 'USA']

In [47]:
df6.iloc[1:3,1:3]

                         City             State
Address
735 Dolores St  San Francisco          CA 94119
332 Hill St     San Francisco  California 94114

In [48]:
df6.iloc[1:3,4]

Address
735 Dolores St    Bready Shop
332 Hill St       Super River
Name: Supermarket Name, dtype: object

In [49]:
df6.ix[3,4]

"Ben's Shop"

In [50]:
df6.drop("332 Hill St", 0)

,ID,City,State,Country,Supermarket Name,Number of Employees
Address,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20

In [51]:
df6.drop(df6.columns[0:3],1)

                Country Supermarket Name  Number of Employees
Address
3666 21st St        USA          Madeira                    8
735 Dolores St      USA      Bready Shop                   15
332 Hill St         USA      Super River                   25
3995 23rd St        USA       Ben's Shop                   10
1056 Sanchez St     USA          Sanchez                   12
551 Alvarado St     USA       Richvalley                   20

In [52]:
df6.columns

Index(['ID', 'City', 'State', 'Country', 'Supermarket Name',
       'Number of Employees'],
      dtype='object')

In [53]:
df6

,ID,City,State,Country,Supermarket Name,Number of Employees
Address,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20

In [55]:
df6["Continent"]=df6.shape[0]*["North America"]

In [56]:
df6

,ID,City,State,Country,Supermarket Name,Number of Employees,Continent
Address,,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8,North America
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15,North America
332 Hill St,3,San Francisco,California 94114,USA,Super River,25,North America
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10,North America
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12,North America
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20,North America

In [58]:
df6["Continent"]=df6["Country"]+","+"North America"

In [59]:
df6

,ID,City,State,Country,Supermarket Name,Number of Employees,Continent
Address,,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8,"USA,North America"
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15,"USA,North America"
332 Hill St,3,San Francisco,California 94114,USA,Super River,25,"USA,North America"
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10,"USA,North America"
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12,"USA,North America"
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20,"USA,North America"

In [60]:
df6_t = df6.T

In [61]:
df6_t

Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
ID,1,2,3,4,5,6
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114
Country,USA,USA,USA,USA,USA,USA
Supermarket Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
Number of Employees,8,15,25,10,12,20
Continent,"USA,North America","USA,North America","USA,North America","USA,North America","USA,North America","USA,North America"

In [62]:
df6_t["My Address"]=["My City", "My Country", 10, 7, "My Shop", "My State", "My Continent"]

In [63]:
df6_t

Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St,My Address
ID,1,2,3,4,5,6,My City
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,My Country
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114,10
Country,USA,USA,USA,USA,USA,USA,7
Supermarket Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley,My Shop
Number of Employees,8,15,25,10,12,20,My State
Continent,"USA,North America","USA,North America","USA,North America","USA,North America","USA,North America","USA,North America",My Continent

In [66]:
from geopy.geocoders import Nominatim

In [67]:
nom=Nominatim()

In [69]:
n=nom.geocode("3995 23rd St, San Francisco, CA 94114")

In [70]:
n.longitude

-122.431714

In [72]:
df3["Coordinates"]=df3["Address"].apply(nom.geocode)

In [74]:
df3.Coordinates

0    (21st Street, Five Points, Denver, Denver Coun...
1    (735, Dolores Street, East Morrissey, Seabrigh...
2    (332, Hill Street, Skyline Area, Harrisonburg,...
3    (3995, 23rd Street, Detroit, Wayne County, Mic...
4    (1056, Sanchez Street, Laredo, Webb County, Te...
5    (551, Alvarado Street, Echo Park, Angelino Hei...
Name: Coordinates, dtype: object

In [78]:
df3["Latitude"]=df3["Coordinates"].apply(lambda x: x.latitude if x != None else None)
df3["Longitude"]=df3["Coordinates"].apply(lambda x: x.longitude if x != None else None)

In [79]:
df3

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"(21st Street, Five Points, Denver, Denver Coun...",39.749523,-104.985714
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"(735, Dolores Street, East Morrissey, Seabrigh...",36.966449,-121.997589
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Skyline Area, Harrisonburg,...",38.451610,-78.858220
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Detroit, Wayne County, Mic...",42.339554,-83.095921
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Laredo, Webb County, Te...",27.516224,-99.506020
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Echo Park, Angelino Hei...",34.060053,-118.274638